.popup__text {
  font-size: 24px;
  padding-left: 36px;
  font-weight: 900;
  line-height: 29px;
  padding-top: 42px;
  margin-bottom: 49px;
  margin-top: 0px;
}

@media screen and (max-width: 600px) {
  .popup__text {
    font-size: 18px;
    line-height: 22px;

    margin-bottom: 75px;
    padding-left: 22px;
  }
}
