.header__logo {
  width: 142px;
  height: 33px;
  padding-top: 45px;
  padding-bottom: 41px;
}

@media screen and (max-width: 720px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    padding-left: 8.4375vw;
    padding-top: 28px;
    padding-bottom: 31.6px;
  }
}
