.card__delete {
  background-image: url(../../../images/trashcan.svg);
  background-color: transparent;
  object-fit: cover;
  z-index: 2;
  width: 18px;
  height: 19px;
  border: none;
  margin-left: 242px;
  margin-top: 20px;
  position: absolute;
}

.card__delete:hover {
  opacity: 0.6;
  cursor: pointer;
}
