.profile__edit-button {
  width: 24px;
  height: 24px;
  border: solid 1px white;
  background-image: url(../../../images/Vectored.png);
  background-size: 10px 10px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 2;
}

@media screen and (max-width: 600px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}

.profile__edit-button:hover {
  opacity: 0.6;
}
