.profile__avatar-wrapper {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.profile__avatar-wrapper:before {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: "";
  background-image: url(../../../images/edit.png);
  transition: all 0.3s linear;
  opacity: 0;
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
}

.profile__avatar-wrapper:hover:before {
  opacity: 1;
  transition: all 0.3s linear;
}
 
.avatar-wrapper {
  width:120px;
  height:120px;
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
  position: relative;
  cursor:pointer;
}

.avatar-wrapper:before {
  /*фоновыйцвет*/
  background-color: rgba(0, 0, 0, 0.8);
/*задаем фоновой картинке размер равный размеру avatar-wrapper*/
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: "";
  /*фоновая картинка*/
  background-image: url(../../../images/edit.png);
  transition: all 0.3s linear;
  opacity: 0;
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

